</div>
<!-- Footer Section -->
<footer>
  <!-- Contact Section -->
  <section id="contact" class="mt-5">
    <div class="container">
      <div class="row">
        <!-- About Us Column -->
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
          <p class="footer-title">About Us</p>
          <ul>
            <li><a href="/pages/about-us">About Our Store</a></li>
            <li><a href="/pages/contact-us">Contact Us</a></li>
            <li><a href="/pages/shipping-policy">Shipping Policy</a></li>
            <li><a href="/pages/careers">Careers</a></li>
          </ul>  
        </div>

        <!-- Follow Us Column -->
        <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
          <p class="footer-title">Follow Us</p>
          <a href="https://facebook.com/" target="_blank" class="d-inline-block mr-2">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
          </a>
          <a href="https://instagram.com/" target="_blank" class="d-inline-block mr-2">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
          <a href="https://twitter.com/" target="_blank" class="d-inline-block">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Bottom Footer Section -->
  <section class="bottom-footer">
    <div class="container text-center">
      <span> &copy; <script> document.write(new Date().getFullYear()); </script> Team Abid Khan & MD Javid and Ihtesham. All rights reserved.
    </div>
  </section>
</footer>

</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
